@import "../common/variables.scss";
.articles {
	width: 60%;

	@media screen and (max-width: 36em) {
		width: 100%;
	}
	.icon {
		font-size: 2rem;
		vertical-align: middle;
	}

	&__link {
		color: lighten(blue, 30%);
		padding: 1rem;
		// margin: 1rem;

		&:active,
		&:focus {
			font-weight: bold;
		}
	}

	&__heading {
		margin-left: 1rem;
		font-size: 5rem;
		font-weight: 400;
		font-family: "just another hand";
		// text-align: center;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
		@media screen and (max-width: 24em) {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}
	&__item {
		margin: 1.3rem;
		padding-bottom: 1rem;
		box-shadow: 0.2rem 0.2rem 1.2rem $shadow-inactive;
		background-color: rgba(white, 0.8);
		transition: transform 0.1s ease-in;
		&:hover {
			transform: scale(1.03);
			box-shadow: 0.4rem 0.4rem 1.8rem $shadow-inactive;
		}

		.banner {
			width: 100%;
			height: 20rem;

			&--scratch {
				background: url("/images/invest.jpg") center / cover no-repeat;
			}
			&--consultant {
				background: url("/images/consultant.jpg") center / cover no-repeat;
			}

			&--busy {
				background: url("/images/busy.jpg") center / cover no-repeat;
			}

			&--empty {
				background: url("/images/empty.jpg") center / cover no-repeat;
			}
		}

		.heading {
			font-size: 1.7rem;
			font-weight: 400;
			padding: 0.5rem;
			color: $white;
			background: linear-gradient(to right, black 1%, transparent);
			// border-bottom: 0.1rem dashed rgba($black-light-10, 0.2);
		}

		.teaser {
			color: $black-light-20;
			// text-indent: 2rem;
			padding: 1rem;
		}
	}
}
