@import "../common/variables.scss";

.blog {
	color: black-light-20;

	.icon {
		vertical-align: middle;
	}

	&__heading {
		font-family: "just another hand";
		font-weight: 400;
		font-size: 6rem;
		text-align: center;
	}

	&__heading2 {
		font-family: "just another hand";
		font-weight: 400;
		padding-top: 0.5rem;
		margin: 2rem auto 1rem auto;
		border-top: 0.1rem solid rgba(black, 0.2);
	}

	&__heading3 {
		font-weight: 400;
		font-family: "just another hand";
		padding-top: 0.5rem;
		margin: 1rem auto 0 auto;
		font-size: 4.5rem;
	}

	&__graphics {
		margin: 1rem auto;
		width: 100%;
		height: 25rem;
		background: url("/images/psei.webp") center / contain no-repeat;

		&--shapes {
			background: url("/images/shapes.jpg") center / cover no-repeat;
			height: 40rem;

			@media screen and (max-width: 39.26rem) {
				background-size: contain;
				height: 25rem;
			}
		}
	}

	&__steps {
		margin-top: 2rem;
	}

	&__body {
		overflow-wrap: anywhere;
		font-size: 1.8rem;
		margin: auto;
		// width: 40%;
		max-width: 70rem;

		@media screen and (max-width: 46.67em) {
			width: 100%;
			padding: 2rem;
		}
	}

	&__action {
		padding-top: 2rem;
		text-align: center;
		font-size: 1.5rem;
	}

	&__content {
		line-height: 1.5;
		text-align: justify;
		text-indent: 2rem;
		margin-top: 1rem;

		.title {
			font-size: 110%;
			font-weight: 700;
			color: black;
		}

		.keyword--black {
			font-weight: 700;
		}

		.keyword--sky {
			color: darken(cyan, 20%);
			font-weight: 700;
		}

		&:first-child {
			margin-top: 3rem;
		}

		&--quotes {
			margin-bottom: 2rem;
		}
		&--quote {
			font-style: italic;
			font-size: 97%;
			margin: 0.87rem auto;
			width: 85%;
		}

		&--mutual {
			.picture {
				text-indent: 0;
				text-align: left;
				padding: 2rem;
				margin: 1rem auto;
				height: 20rem;
				background-color: white;

				&--seed {
					color: $white-dark-10;
					background: linear-gradient(
							to bottom,
							rgba(black, 0.8),
							rgba(black, 0.5)
						),
						url("/images/seed.jpg") center / cover no-repeat;
				}
				&--collect {
					color: $white-dark-10;
					background: linear-gradient(
							to bottom,
							rgba(black, 0.8),
							rgba(black, 0.5)
						),
						url("/images/farmer.jpg") center / cover no-repeat;
				}
				&--labor {
					color: $white-dark-10;
					background: linear-gradient(
							to bottom,
							rgba(black, 0.8),
							rgba(black, 0.5)
						),
						url("/images/harvest.jpg") center / cover no-repeat;
				}
			}
		}
	}
}
