.date {
	// border: 1px solid gray;
	padding: 1rem;
	&__label {
		color: $platinum-dark-20;
		font-size: 1.2rem;
		display: block;
		text-align: left;
		padding-bottom: 0.5rem;
	}
	&__input {
		padding: 1rem;
		font-family: "Nunito";
		width: 100%;
	}
}
