@import "../common/variables.scss";
@import "../common/mixins.scss";
.main {
	&__greet {
		margin-top: 5rem;
	}
	&__action {
		font-size: 3rem;
		font-weight: 700;
		vertical-align: center;

		&-icon {
			font-size: 2rem;
			vertical-align: middle;
			transform: translateY(-0.2rem);
		}
	}

	&__articles {
		margin-top: 2rem;
	}

	&__expect {
		margin-top: 1rem;
	}

	&--home {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		// @extend .flex-center;
		flex-direction: column;
		flex-wrap: wrap;
	}

	&--projects,
	&--credentials {
		margin: auto;
		margin-top: 2rem;
		width: 90%;
		@media screen and (max-width: 24rem) {
			padding: 0.5rem;
			margin-top: initial;
			width: 100%;
		}
	}
}
