@import "../common/variables.scss";
@import "../common/mixins.scss";
.main {
	padding-bottom: 5rem;
	&__greet {
		margin-top: 5rem;
	}

	&__action {
		font-size: 3rem;
		font-weight: 700;
		vertical-align: center;

		&-icon {
			font-size: 2rem;
			vertical-align: middle;
			transform: translateY(-0.2rem);
		}
	}

	&__articles {
		margin-top: 2rem;
	}

	&__expect {
		margin-top: 1rem;
	}
	&--blog {
		padding-top: 2rem;
	}

	&--home {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;
		flex-wrap: wrap;
	}
}
