@import "../common/variables.scss";

.process {
	width: 60%;
	padding: 1rem;
	font-size: 1.7rem;

	@media screen and (max-width: 41.93em) {
		width: 100%;
	}

	.icon {
		vertical-align: middle;
		font-size: 2.9rem;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

		@media screen and (max-width: 24em) {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}

	&__heading {
		font-size: 5rem;
		font-weight: 400;
		font-family: "just another hand";
		// text-align: center;
	}

	&__item {
		margin-bottom: 1rem;
		padding: 1.5rem;

		h3 {
			// display: inline-block;
			border-bottom: 1px solid transparent;
			margin-bottom: 0.5rem;
		}

		p {
			text-align: justify;
			text-indent: 5%;
		}
	}
}
