@import "../common/variables.scss";

#__next {
	background: linear-gradient(
			20deg,
			rgba(white, 0.95),
			rgba(white, 0.9),
			rgba(white, 0.95)
		),
		url("/images/pruFree.png") center/cover no-repeat fixed;
	min-height: 100vh;
	position: relative;
}
