@import "../common/variables.scss";
hr {
	border: 0;
	height: 0.1rem;
	background-image: linear-gradient(
		to right,
		rgba($black-light-10, 0),
		$black-light-10,
		rgba($black-light-10, 0)
	);
	width: 70%;

	@media screen and (max-width: 36em) {
		width: 100%;
	}

	&.blog {
		margin: auto;
		margin-top: 1rem;
	}

	&.career {
		margin: 1rem auto;
	}

	&.home {
		margin: auto;
		margin-top: 3rem;
	}
}
