@import "../common/variables.scss";

.list-bg {
	padding: 2rem;
	color: $white-dark-10;
	height: 25rem;
	clip-path: polygon(100% 0, 100% 86%, 78% 100%, 0 100%, 0 0);
	@media screen and (max-width: 21.86em) {
		height: auto;
	}
}

.step {
	margin: 3rem 2rem 3rem 2rem;
	&--1,
	&--2 {
		font-weight: 700;
	}
	.heading {
		font-weight: 700;
	}

	&--schedule {
		clip-path: polygon(9% 0, 100% 0, 99% 100%, 0 100%, 0 26%);
		color: $black;
		background-color: rgba($white, 0.7);
		text-align: center;
		// box-shadow: 0.8rem 0.8rem 1.6rem $shadow-inactive;
		padding: 2rem;

		& > .heading {
			font-family: "just another hand";
			font-weight: 400;
			font-size: 5rem;
		}

		.day {
			font-weight: 700;
		}

		& > .date {
			text-transform: uppercase;
			display: block;
		}

		& > .time {
			display: block;
			margin-bottom: 1rem;
		}
	}

	&--outlook {
		@extend .list-bg;
		background: linear-gradient(to bottom, black, transparent),
			url("/images/route.jpeg") center / cover no-repeat;
	}
	&--celebrate {
		@extend .list-bg;
		background: linear-gradient(to bottom, black, transparent),
			url("/images/celebrate.jpeg") center / cover no-repeat;
	}
	&--prepare {
		@extend .list-bg;
		background: linear-gradient(to bottom, black, transparent),
			url("/images/journey.jpg") center / cover no-repeat;
	}

	&--expand {
		.chart {
			margin: 2rem auto 1rem auto;
			width: 15rem;
			height: 15rem;

			&--pie {
				@extend .chart;
				background: url("/icons/pie.svg") center / cover no-repeat;
			}

			&--line {
				@extend .chart;
				background: url("/icons/line.svg") center / cover no-repeat;
			}
		}

		.list-heading {
			margin: 2rem auto;
		}

		.categories {
			@extend .flex-center;
			flex-wrap: wrap;
			flex-shrink: 0;
		}

		.category {
			position: relative;
			@extend .flex-center;
			margin: 2rem;
			font-size: 1.4rem;
			width: 7rem;
			height: 7rem;

			span {
				position: absolute;
				top: -2rem;
				left: -2rem;
			}

			&--car {
				@extend .category;
				background: url("/icons/car.svg") center/contain no-repeat;
			}
			&--family {
				@extend .category;
				background: url("/icons/family.svg") center/contain no-repeat;
			}
			&--leisure {
				@extend .category;
				background: url("/icons/leisure.svg") center/contain no-repeat;
			}
			&--education {
				@extend .category;
				background: url("/icons/education.svg") center/contain no-repeat;
			}
			&--food {
				@extend .category;
				background: url("/icons/food.svg") center/contain no-repeat;
			}
		}
	}
	.apps {
		@extend .flex-center;
		flex-wrap: wrap;
		flex-shrink: 0;
	}
	.app {
		position: relative;
		margin: 2rem;
		width: 12rem;
		height: 12rem;
		font-weight: bold;
		box-shadow: 0.4rem 0.4rem 0.8rem $shadow-inactive;
		border-radius: 4rem;
		transition: transform 0.1s ease-in;
		a {
			position: absolute;
			top: 2rem;
			left: -4rem;
		}

		&:hover {
			transform: scale(1.03);
			box-shadow: 0.4rem 0.4rem 1.2rem $shadow-inactive;
		}

		&--one {
			@extend .app;
			background: linear-gradient(rgba(white, 0.9), rgba(white, 0.6)),
				url("/images/onemoney.png") center/contain no-repeat;
		}
		&--manager {
			@extend .app;
			background: linear-gradient(rgba(white, 0.9), rgba(white, 0.6)),
				url("/images/moneymanager.png") center/contain no-repeat;
		}
		&--lover {
			@extend .app;
			background: linear-gradient(rgba(white, 0.9), rgba(white, 0.6)),
				url("/images/moneylover.png") center/contain no-repeat;
		}
	}
}
